.title-photo {
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding-left: 20px;
}

.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/* .activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    box-sizing: border-box;
    /* object-fit: cover; */
/* } */ 

.activites-cards {
    
}


.activites-cards .card {
    padding: 0px;
    width: 297.5px;
    height: 439px;
    box-sizing: border-box;
}

.activites-cards img {
    width: 297.5px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
}

.activites-cards .card-content{
    display: flex;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
}


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .activites-cards img {
        width: 193.5px;
        height: 200px;
    }

    .activites-cards .card {
        padding: 0px;
        width: 193.5px;
        height: 270px;
    }

}