.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
}


.activites-cards {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    box-sizing: border-box;
} 

.activites-cards .card {
    padding: 0px;
    height: 439px;
    justify-content: space-around;
    box-sizing: border-box;
}

.activites-cards .card-content{
    display: flex;
    align-items: center;
    height: 59px;
}

.title-photo {
    display:flex;
    font-size: 16px;
    font-weight: 700;
    padding-left: 20px;
}

.activites-cards img {
    width: 297.5px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
}


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .activites-cards img {
        width: 193.5px;
        height: 200px;
    }

    .activites-cards .card {
        padding: 0px;
        width: 193.5px;
        height: 270px;
    }

.activites-cards .card-content{
    height: 70px;
}

}